<!doctype html>
<html ng-app="salaryApp">
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<style>
			body {
				color: #000;
				background-color: #202335;
			}
			.box {
				background-color: #eee;
				box-shadow: #a5a5a5 10px;
				width: 450px;
				padding: 10px 10px 10px 10px;
				border-radius: 10px;
				margin-top: 100px; 
				display:block;	
			}
			
			ul, li {
				display: inline;
			}
		</style>
	</head>
	<body>
		<div class="container box" ng-controller="converter">
			<h1>Salary converter</h1>
			<div class="form-group">
				<label>Annual Salary</label>
				<input type="number" class="form-control" placeholder="0" ng-model="yearly" ng-change="reCalculate()" >
				<br>
				
				<!-- Radio Buttons -->
				
				
				<label>Monthly Salary</label>
				<input type="number" class="form-control" placeholder="0" ng-model="monthly" disabled>
				<label>Bi-Weekly Salary</label>
				<input type="number" class="form-control" placeholder="0" ng-model="biweekly" disabled>
				<label>Weekly Salary</label>
				<input type="number" class="form-control" placeholder="0" ng-model="weekly" disabled>
			</div>
			
		</div>
		<!--<div ng-controller="converter">
			Write some text in textbox:
			<input type="text">
			 
			<h1>Hello {{ yearly }}</h1>
			<h1>Hello {{ monthly }}</h1>
		</div>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="salaryConverter.js"></script>
		

	</body>
</html>